version : "3.7"
services :
  proyectos-microservicios :
    container_name : proyectos-microservicios
    image : proyectos-microservicios:v1
    build :
      context: .
    ports : 
      - "4002"
    networks :
      - proyectos-app

  proyectos-microservicios-2 :
    container_name :  proyectos-microservicios-2
    image :   proyectos-microservicios:v1
    ports : 
      - "4002"
    networks :
      - proyectos-app  

  proyectos-microservicios-3 :
    container_name :  proyectos-microservicios-3
    image :   proyectos-microservicios:v1
    ports : 
      - "4002"
    networks :
      - proyectos-app  

  proyectos-microservicios-4 :
    container_name :  proyectos-microservicios-4
    image :   proyectos-microservicios:v1
    ports : 
      - "4002"
    networks :
      - proyectos-app  

  balanceador :
    container_name : balanceador
    image : balanceador:v1
    build :
      context: ./balanceador
    ports : 
      - "4003:80"
    networks :
      - proyectos-app

networks :
  proyectos-app :